<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Example Page</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>

	<!-- <h1>On the example page</h1> -->
	<div class="container">
	
	<img class="profile" th:src="@{/image/chinese.jpg}" alt="" />
		<h1>Adding CSS, JavaScript and Image ib the spring boot thymeleaf</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			Similique facilis facere impedit accusantium consequatur delectus
			dolor pariatur earum minus perspiciatis!</p>
	</div>
	
	<script th:src="@{js/bootstrap.min.js}"></script>

</body>
</html>